.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  span {
    background: linear-gradient(
      270deg,
      rgb(87, 241, 255) 10%,
      rgb(9, 88, 206) 100%
    );
    background-clip: text;
    color: transparent;
  }
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;

  &:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
  }
}

.gradient-btn {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg,
    rgb(87, 241, 255) 10%,
    rgb(9, 88, 206) 100%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;

  &:hover {
    transform: scale(1.05);
  }
}
